[user]
  email = mikl181@yandex.ru
  name = Mikhail Batishchev

[core]
  excludesFile = ~/.configs/git/.gitignore
  pager = delta
  longpaths = true
  autocrlf = true
  editor = nvim

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[rerere]
  enabled = true

[rebase]
  autosquash = true
  autostash = true
  updateRefs = true

[push]
	autoSetupRemote = true

[pull]
  autostash = true

[merge]
  conflictstyle = zdiff3

[diff]
  colorMoved = default
  algorithm = histogram

[include]
  path = ~/.configs/git/.sensitive_gitconfig

[interactive]
  diffFilter = delta --color-only

[delta]
  features = villsau
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true

# author: https://github.com/torarnv
[delta "villsau"]
  dark = true
  file-style = omit
  hunk-header-decoration-style = omit
  hunk-header-file-style = magenta
  hunk-header-line-number-style = dim magenta
  hunk-header-style = file line-number syntax
  line-numbers = false
  minus-emph-style = bold red 52
  minus-empty-line-marker-style = normal "#3f0001"
  minus-non-emph-style = dim red
  minus-style = bold red
  plus-emph-style = bold green 22
  plus-empty-line-marker-style = normal "#002800"
  plus-non-emph-style = dim green
  plus-style = bold green
  syntax-theme = OneHalfDark
  whitespace-error-style = reverse red
  zero-style = dim syntax
